.name {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;      
    align-items: center;         
    justify-content: center;
    height: 100vh;   
    /* margin-left: -60px;
    margin-top: -100px; */
}

/* PORTFOLIO */
.portfolio {
    display: flex;
    flex-direction: column;      
    align-items: center;         
    justify-content: center;     
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;  
    margin-top: -350px;  
    text-align: center; 
    /* margin-left: -10px */
}

.portfolio a {
    text-decoration: none;
    color: #333;
}

.portfolio a:hover {
    color: #777; 
}
.portfolio label:hover {
    color: gray; 
}

/* SOUSMENU */

.sousmenu a {
    text-decoration: none;
    color: #333;
}

.sousmenu a:hover {
    color: #777; 
}
.sousmenu label:hover {
    color: gray; 
}

.sousmenu{
    display: flex;
    flex-direction: column;      
    align-items: center;         
    justify-content: center;     
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-style: normal;  
    text-align: center; 
    list-style-type: none;  
    padding: 0;            
    margin: 0;     
}


/* Curriculum vitae */
.moreaboutme {
    width: 90%;
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px;
    font-family: "IBM Plex Mono", monospace;
    color: #333;
    text-align: center; 
}

.section {
    margin-bottom: 15px; 
    padding: 10px 0; 
}

.section h2 {
    font-size: 20px;
    margin-bottom: 5px; 
    color: #444;
    text-transform: uppercase;
    font-weight: normal;
}

.section p {
    font-size: 14px;
    line-height: 1.4;
    color: #555;
    margin: 5px 0;
}


.section ul {
    list-style-type: none; 
    padding: 0;
    margin: 5px 0; 
    text-align: left; 
    display: inline-block; 
}

.section ul li {
    margin-bottom: 5px; 
    font-size: 14px;
    line-height: 1.4; 
    padding-left: 0;
    position: relative;
    font-weight: normal;
}

.section ul strong {
    display: inline-block;
    margin-bottom: 3px; 
    color: #555;
    font-weight: normal;
}

/* Responsive Design */
@media (max-width: 768px) {
    .moreaboutme {
        width: 95%;
    }

    .section {
        padding: 10px 0;
    }

    .section h2 {
        font-size: 18px;
    }

    .section p, .section ul li {
        font-size: 12px;
        line-height: 1.3; /* Ajustement de l'espacement pour mobile */
    }
}

/* projet */
.image-gallery {
    display: flex;
    flex-direction: column;   /* Les images sont empilées verticalement */
    justify-content: center;  /* Centre les images verticalement */
    align-items: center;      /* Centre les images horizontalement */
    height: 530vh;            /* Utilise toute la hauteur de la page */
    overflow-y: auto;         /* Permet le défilement vertical si les images dépassent la hauteur de la fenêtre */
    gap: 20px;                /* Espacement entre les images */
}

.image-gallery img {
    width: 100%;              /* L'image prend toute la largeur de la fenêtre */
    height: 260vh;            /* L'image prend toute la hauteur de la fenêtre */
    object-fit: contain;      /* L'image conserve ses proportions sans déformation */
}

/* Pour rendre le design responsive sur les écrans plus petits */
@media (max-width: 768px) {
    .image-gallery img {
        width: 100%;          /* L'image prend toute la largeur sur les petits écrans */
        height: 50vh;         /* Sur les petits écrans, l'image occupe 50% de la hauteur de l'écran */
    }
}

.image-gallery2 {
    display: flex;
    flex-direction: column;   /* Les images sont empilées verticalement */
    justify-content: center;  /* Centre les images verticalement */
    align-items: center;      /* Centre les images horizontalement */
    height: 530vh;            /* Utilise toute la hauteur de la page */
    overflow-y: auto;         /* Permet le défilement vertical si les images dépassent la hauteur de la fenêtre */
    gap: 20px;                /* Espacement entre les images */
}

.image-gallery2 img {
    width: 100%;              /* L'image prend toute la largeur de la fenêtre */
    height: 260vh;            /* L'image prend toute la hauteur de la fenêtre */
    object-fit: contain;      /* L'image conserve ses proportions sans déformation */
}

/* Pour rendre le design responsive sur les écrans plus petits */
@media (max-width: 768px) {
    .image-gallery2 img {
        width: 100%;          /* L'image prend toute la largeur sur les petits écrans */
        height: 50vh;         /* Sur les petits écrans, l'image occupe 50% de la hauteur de l'écran */
    }
}


.image-gallery3 {
    display: flex;
    justify-content: center;  /* Centre les images verticalement */
    align-items: center;      /* Centre les images horizontalement */
    height: 100vh;            /* Utilise toute la hauteur de la page */
    overflow-y: auto;         /* Permet le défilement vertical si les images dépassent la hauteur de la fenêtre */
    gap: 20px;                /* Espacement entre les images */
}

.image-gallery3 img {
    width: 100%;              /* L'image prend toute la largeur de la fenêtre */
    height: 100vh;            /* L'image prend toute la hauteur de la fenêtre */
    object-fit: contain;      /* L'image conserve ses proportions sans déformation */
}

/* Pour rendre le design responsive sur les écrans plus petits */
@media (max-width: 768px) {
    .image-gallery3 img {
        width: 100%;          /* L'image prend toute la largeur sur les petits écrans */
        height: 50vh;         /* Sur les petits écrans, l'image occupe 50% de la hauteur de l'écran */
    }
}


